/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$ff-rubik: "Rubik", sans-serif;

html {
  font-size: 62.5%;
}
/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
/* Images */
img {
  width: 100%;
}
