/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  font-size: 62.5%;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
li {
  list-style: none;
}

/* Images */
img {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Pallete Variables */
/* Font Weight Variables */
/* Media Queries Variables */
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  height: 100vh;
  background-color: hsl(226deg, 43%, 10%);
  margin: 8.1rem 2.4rem;
}
@media screen and (min-width: 1199.98px) {
  body {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
}

.active {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 2.4rem;
  border-radius: 15px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 767.98px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    border-radius: 15px;
  }
  .grid .box--profile {
    grid-column: 1/3;
    margin: auto;
  }
}
@media screen and (min-width: 1199.98px) {
  .grid {
    grid-template-columns: repeat(4, 25.5rem);
    gap: 3rem;
    width: auto;
    height: 51.8rem;
  }
  .grid .box--profile {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: auto;
    height: 100%;
  }
}

.box {
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.box--profile {
  height: 20.3rem;
  width: 32.7rem;
  z-index: 1;
}
.box--profile .box__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: hsl(246deg, 80%, 60%);
  overflow: hidden;
  padding: 3.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (min-width: 1199.98px) {
  .box--profile .box__heading {
    width: 25.5rem;
    border-radius: 15px;
    height: 68%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}
.box--profile .box__heading .profile__picture {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  border: 2px solid white;
  margin-right: 2rem;
}
@media screen and (min-width: 1199.98px) {
  .box--profile .box__heading .profile__picture {
    margin-bottom: 2rem;
  }
}
.box--profile .box__heading .report {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(236deg, 100%, 87%);
}
.box--profile .box__heading .user {
  font-size: 2.4rem;
  font-weight: 300;
  color: white;
}
@media screen and (min-width: 1199.98px) {
  .box--profile .box__heading .user {
    font-size: 4rem;
  }
}
.box--profile .box__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 2.4rem;
  background-color: hsl(235deg, 46%, 20%);
  position: absolute;
  width: 100%;
  height: 8rem;
  bottom: 3%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1;
}
@media screen and (min-width: 1199.98px) {
  .box--profile .box__footer {
    width: 25.5rem;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0%;
    height: 18rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.box--profile .box__footer .period {
  color: hsl(235deg, 45%, 61%);
  cursor: pointer;
}
.box--profile .box__footer .period:hover {
  color: white;
}
@media screen and (min-width: 1199.98px) {
  .box--profile .box__footer .period {
    margin-bottom: 2.1rem;
    font-size: 1.8rem;
    padding-left: 3.5rem;
  }
}

.box--feature {
  width: 32.7rem;
  height: 16rem;
}
@media screen and (min-width: 1199.98px) {
  .box--feature {
    width: 25.5rem;
    height: 24.4rem;
  }
}
.box--feature .box__top {
  height: auto;
  position: relative;
  z-index: 0;
}
.box--feature .box__top .work__image {
  width: 7.8rem;
  height: 7.8rem;
  position: relative;
  left: 23rem;
  top: -1rem;
}
@media screen and (min-width: 1199.98px) {
  .box--feature .box__top .work__image {
    left: 16rem;
  }
}
.box--feature .box__work {
  background-color: hsl(15deg, 100%, 70%);
}
.box--feature .box__play {
  background-color: hsl(195deg, 74%, 62%);
}
.box--feature .box__study {
  background-color: hsl(348deg, 100%, 68%);
}
.box--feature .box__exercise {
  background-color: hsl(145deg, 58%, 55%);
}
.box--feature .box__social {
  background-color: hsl(264deg, 64%, 52%);
}
.box--feature .box__self--care {
  background-color: hsl(43deg, 84%, 65%);
}
.box--feature .box__body--children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2.8rem 2.4rem;
  background-color: hsl(235deg, 46%, 20%);
  position: absolute;
  width: 100%;
  height: auto;
  top: 18%;
  z-index: 1;
  border-radius: 15px;
}
.box--feature .box__body--children:hover {
  background-color: hsl(235deg, 45%, 61%);
}
@media screen and (min-width: 1199.98px) {
  .box--feature .box__body--children {
    height: 20rem;
  }
}
.box--feature .box__body--children .settings {
  width: 2.1rem;
  height: 0.5rem;
  cursor: pointer;
}
.box--feature .box__body--children .hours {
  font-size: 3.2rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 1199.98px) {
  .box--feature .box__body--children .hours {
    font-size: 5.6rem;
  }
}
.box--feature .box__body--children .box__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 1199.98px) {
  .box--feature .box__body--children .box__left {
    margin-bottom: 2rem;
  }
}
.box--feature .box__body--children .box__left .type {
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
}
.box--feature .box__body--children .box__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.box--feature .box__body--children .box__right .last__week {
  font-size: 1.5rem;
  color: hsl(236deg, 100%, 87%);
  font-size: 400;
}
@media screen and (min-width: 1199.98px) {
  .box--feature .box__body--children .box__right {
    flex-direction: column;
    align-items: flex-start;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
