@import "./typography";
@import "./resets";
@import "./functions";
@import "./variables";

body {
  font-family: ff-rubik;
  font-size: 1.8rem;
  height: 100%;
  background-color: $very-dark-blue;
  margin: 8.1rem 2.4rem;
}

// Container
.container {
  @include flexCenter(column);
  height: 100vh;
}

// Grid
.grid {
  display: grid;
  gap: 2.4rem;

  @media screen and (min-width: $x-small) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    .box--one {
      grid-column: 1 / 3;
      margin: auto;
    }
  }

  @media screen and (min-width: $medium) {
    grid-template-columns: repeat(4, 1fr);

    .box--one {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      margin: auto;
      height: 100%;
    }
  }
}

// Grid boxes
.box {
  background-color: white;
  width: 20rem;
  height: auto;
  border: 1px solid black;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
