@import "./typography";
@import "./resets";
@import "./functions";
@import "./variables";

body {
  font-family: ff-rubik;
  font-size: 1.8rem;
  height: 100vh;
  background-color: $very-dark-blue;
}

h1 {
  color: white;
}

// Container
.container {
  height: 100vh;
  @include flexCenter(column);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
