@import "./typography";
@import "./resets";
@import "./functions";
@import "./variables";

body {
  font-family: ff-rubik;
  font-size: 1.8rem;
  height: 100vh;
  background-color: $very-dark-blue;
  margin: 8.1rem 2.4rem 8.1rem;
}

// Container
.container {
  @include flexCenter(column);
}

// Grid
.grid {
  display: grid;
  gap: 2.4rem;
}

// Grid boxes
.box {
  background-color: white;
  width: 32.7rem;
  height: 16rem;
  border: 1px solid black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
